@import "tailwindcss";

@font-face {
  font-family: 'KrutiDev';
  src: url('../src/assets/fonts/krutidev-hindi-font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Poppins", "KrutiDev", sans-serif;
}

.hindi {
  font-family: 'KrutiDev', sans-serif;
}

/* Remove arrows in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}